<% layout('layouts/boilerplate') %> 
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %> </h4>
    <p>Ooops!! Something went wrong, please check your internet connection and if the problem still persists then contact us on email - <span class="text-success">Fraudster_Company007@gmail.com</span></p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div>